.container {
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
}

.name {
  width: calc(14% - 24px);
  padding: 1%;
  text-align: center;
  background-color: gold;
  margin: 4px;
  border-radius: 8px;
  box-shadow: 2px 2px 1px 1px #ffd701d4;
}

.name:hover {
  cursor: pointer;
  background-color: goldenrod;
}

.icon {
   display: inherit;
   height: 20px;
}

.createPizza {
  margin: 0 auto;
  display: flex;
}
